/* THEME */

// Background colours
.bg-lime { 
	background-color: #D4F78B;
}
.bg-lavender { 
	background-color: #C9A0EE;
}
.bg-red { 
	background-color: #F46153;
	color: $lime;
}
.bg-plum { 
	background-color: #840C4A;
}