// Tailwind import
//--------------------------------------------------------------------------------//
// @import '~tailwindcss/dist/tailwind.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'config';
@import 'theme';
@import 'fonts';
@import 'base';


#app {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}

.container {
	height: 100vh;
}

.card,
.hero {
	position: absolute;
	overflow: hidden;
	padding: 7vw;
}

.card {
	width: 50%;
	flex-basis: 50%;

	.heading p {
		font-family: 'Lacrima', 'Times New Roman', serif;
		font-size: 1.5rem;
		font-weight: normal;
		text-transform: none;
	}

	&:nth-of-type(2n) {
		transform: translatey(100%);
	}
	&:nth-of-type(2n+1) {
		left: 50%;
		transform: translatey(-100%);
	}
}
.card--image {
	padding: 0;
	.image {
		height: 100vh;
	}
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
}

.hero {
	width: 100%;
	flex-basis: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: $red;

	h1, p {
		white-space: pre-line;
	}

	.heading {
		position: relative;
		&:before, &:after {
			content: "";
			position: absolute;
			width: 55vw;
			height: 32vw;
			/* min-width: 700px; */
			/* min-height: 400px; */
			top: 50%;
			left: 50%;
		}

		//Fat border
		&:before {
			border: 1.5625vw solid $lavender;
		    z-index: -1;
		    transform: translate(-50%, -50%) rotate(-8deg);
		}
	}

	//Main hero
	&:nth-of-type(1) {
		.background {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -2;

			[class*="rect"] {
			    position: absolute;
			    border: 0.15vw solid $slime;
			}
			.rect1 {
				width: 10.25vw;
			    height: 32vh;
			    top: 18.5%;
			    left: -2px;
			}
			.rect2 {
				width: 32.5vw;
			    height: 15.5vh;
			    top: -5.5%;
			    left: 28%;
			    transform: rotate(-7deg);
			}
			.rect3 {
				width: 16.5vw;
				height: 42vh;
				bottom: 20.5%;
				right: -7%;
				transform: rotate(15deg);
			}
			.rect4 {
				width: 15.5vw;
			    height: 30.5vh;
			    left: 56%;
    			top: 87%;
			    transform: rotate(-32deg);
			}
		}
	}

	//Final screen
	&:last-child {
		button {
			font-family: 'Druk Wide', Helvetica, sans-serif;
			font-size: 25px;
			text-transform: uppercase;
			color: $red;
			white-space: pre-line;
		}

		//Thin border
		.heading {
			&:after {
			    border: 1px solid $slime;
			    z-index: -2;
			    transform: translate(-50%, -50%);
			}
		}
	}
}



.copy p {
	font-size: 1.125rem;
}

