@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* CONFIG */
/*============================================================================
  Dependency-free breakpoint mixin
    - http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
/* THEME */
.bg-lime {
  background-color: #D4F78B;
}

.bg-lavender {
  background-color: #C9A0EE;
}

.bg-red {
  background-color: #F46153;
  color: #D4F78B;
}

.bg-plum {
  background-color: #840C4A;
}

/* FONTS */
@font-face {
  font-family: "Druk Wide";
  src: url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.eot");
  /* IE9*/
  src: url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Lacrima";
  src: url("/fonts/lacrima/LacrimaSerif-Regular.eot");
  /* IE9*/
  src: url("/fonts/lacrima/LacrimaSerif-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lacrima/LacrimaSerif-Regular.woff2") format("woff2"), url("/fonts/lacrima/LacrimaSerif-Regular.woff") format("woff"), url("/fonts/lacrima/LacrimaSerif-Regular.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lacrima";
  src: url("/fonts/lacrima/LacrimaSerif-Bold.eot");
  /* IE9*/
  src: url("/fonts/lacrima/LacrimaSerif-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/lacrima/LacrimaSerif-Bold.woff2") format("woff2"), url("/fonts/lacrima/LacrimaSerif-Bold.woff") format("woff"), url("/fonts/lacrima/LacrimaSerif-Bold.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 700;
}
/* BASE */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #840C4A;
  font-family: "Lacrima", "Times New Roman", serif;
  background-color: #D4F78B;
}

h1 {
  font-family: "Druk Wide", Helvetica, sans-serif;
  font-size: 1.8vw;
  text-transform: uppercase;
  color: #F46153;
  margin-bottom: 1rem;
}
@media screen and (min-width: 2000px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-family: "Druk Wide", Helvetica, sans-serif;
  font-size: 7vw;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 2000px) {
  h2 {
    font-size: 8.75rem;
  }
}

p {
  margin-bottom: 1rem;
}

u {
  text-decoration: none;
  position: relative;
}
u:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 100%;
  background-color: #F46153;
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.container {
  height: 100vh;
}

.card,
.hero {
  position: absolute;
  overflow: hidden;
  padding: 4.9vw;
}
@media screen and (min-width: 2000px) {
  .card,
.hero {
    padding: 98px;
  }
}

.card {
  width: 50%;
  flex-basis: 50%;
}
.card .heading p {
  font-family: "Lacrima", "Times New Roman", serif;
  font-weight: normal;
  text-transform: none;
  margin: 0.5rem 0;
  font-size: 1.953125vw;
}
@media screen and (min-width: 2000px) {
  .card .heading p {
    font-size: 2.4375rem;
  }
}
.card:nth-of-type(2n) {
  transform: translatey(100%);
}
.card:nth-of-type(2n+1) {
  left: 50%;
  transform: translatey(-100%);
}

.card--image {
  padding: 0;
}
.card--image .image {
  height: 100vh;
}
.card--image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes twist {
  0% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
}

@keyframes twist {
  0% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(359deg);
  }
}
.hero {
  width: 100%;
  flex-basis: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #F46153;
}
.hero h1, .hero p {
  white-space: pre-line;
}
.hero p {
  font-size: 1.25vw;
}
@media screen and (min-width: 2000px) {
  .hero p {
    font-size: 1.5625rem;
  }
}
.hero .heading {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.hero .heading:before, .hero .heading:after {
  content: "";
  position: absolute;
  /* min-width: 700px; */
  /* min-height: 400px; */
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}
.hero .heading:before {
  width: 54vw;
  height: 32vw;
  max-width: 1080px;
  max-height: 640px;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-8deg);
  border: 1.5625vw solid #C9A0EE;
  -webkit-animation: 30s ease-in-out 2s infinite twist;
          animation: 30s ease-in-out 2s infinite twist;
}
@media screen and (min-width: 2000px) {
  .hero .heading:before {
    border: 31.25px solid #C9A0EE;
  }
}
.hero .heading:after {
  width: 52.5vw;
  height: 30vw;
  max-width: 1000px;
  max-height: 600px;
  z-index: -2;
  transform: translate(-50%, -50%);
  border: 0.15vw solid #77DF86;
}
@media screen and (min-width: 2000px) {
  .hero .heading:after {
    border: 3px solid #77DF86;
  }
}
.hero:nth-of-type(1) .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.hero:nth-of-type(1) .background [class*=rect] {
  position: absolute;
  border: 0.15vw solid #77DF86;
}
@media screen and (min-width: 2000px) {
  .hero:nth-of-type(1) .background [class*=rect] {
    border: 3px solid #77DF86;
  }
}
.hero:nth-of-type(1) .background .rect1 {
  width: 21.5vw;
  height: 21.5vw;
  max-width: 428px;
  max-height: 428px;
  top: 18.5%;
  left: -11.5%;
  -webkit-animation: spin-rect1 400s infinite 8s;
          animation: spin-rect1 400s infinite 8s;
}
@-webkit-keyframes spin-rect1 {
  0% {
    transform: rotate(0deg);
    filter: blur(0);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    transform: rotate(360deg);
    filter: blur(0);
  }
}
@keyframes spin-rect1 {
  0% {
    transform: rotate(0deg);
    filter: blur(0);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    transform: rotate(360deg);
    filter: blur(0);
  }
}
.hero:nth-of-type(1) .background .rect2 {
  width: 32.5vw;
  height: 32.5vw;
  max-width: 650px;
  max-height: 650px;
  top: -50.5%;
  left: 26.5%;
  transform: rotate(-7deg);
  animation: spin-rect2 300s infinite reverse 0s;
}
@-webkit-keyframes spin-rect2 {
  0% {
    transform: rotate(-7deg);
    filter: blur(0);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    transform: rotate(353deg);
    filter: blur(0);
  }
}
@keyframes spin-rect2 {
  0% {
    transform: rotate(-7deg);
    filter: blur(0);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    transform: rotate(353deg);
    filter: blur(0);
  }
}
.hero:nth-of-type(1) .background .rect3 {
  width: 28vw;
  height: 28vw;
  max-width: 560px;
  max-height: 560px;
  bottom: 18.5%;
  right: -18.5%;
  transform: rotate(15deg);
  animation: spin-rect3 275s infinite reverse 2s;
}
@-webkit-keyframes spin-rect3 {
  0% {
    transform: rotate(15deg);
    filter: blur(0);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    transform: rotate(375deg);
    filter: blur(0);
  }
}
@keyframes spin-rect3 {
  0% {
    transform: rotate(15deg);
    filter: blur(0);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    transform: rotate(375deg);
    filter: blur(0);
  }
}
.hero:nth-of-type(1) .background .rect4 {
  width: 15.5vw;
  height: 30.5vh;
  max-width: 310px;
  max-height: 407px;
  left: 56%;
  top: 87%;
  transform: rotate(-32deg);
  -webkit-animation: spin-rect4 300s infinite 3s;
          animation: spin-rect4 300s infinite 3s;
}
@-webkit-keyframes spin-rect4 {
  0% {
    transform: rotate(-32deg);
    filter: blur(0);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    transform: rotate(328deg);
    filter: blur(0);
  }
}
@keyframes spin-rect4 {
  0% {
    transform: rotate(-32deg);
    filter: blur(0);
  }
  50% {
    filter: blur(4px);
  }
  100% {
    transform: rotate(328deg);
    filter: blur(0);
  }
}
.hero:last-child button {
  font-family: "Druk Wide", Helvetica, sans-serif;
  font-size: 1.8vw;
  text-transform: uppercase;
  color: #F46153;
  white-space: pre-line;
  transition: color 0.3s ease-in-out;
}
@media screen and (min-width: 2000px) {
  .hero:last-child button {
    font-size: 2.25rem;
  }
}
.hero:last-child button:hover {
  color: #840C4A;
}
.hero:last-child .heading.pause {
  transform: scale(0.99);
}
.hero:last-child .heading.pause:before {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  filter: blur(2px);
  border-color: #F46153;
}
.hero:last-child .heading.pause:after {
  filter: blur(2px);
}

.copy p {
  font-size: 1rem;
}
@media screen and (min-width: 1280px) and (max-width: 1999.9px) {
  .copy p {
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 2000px) {
  .copy p {
    font-size: 1.5625rem;
  }
}

/*# sourceMappingURL=app.css.map*/