@charset "UTF-8";
/* TAILWIND IMPORT  ---------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/* SASS IMPORTS  ---------------------------*/
/* CONFIG */
/*============================================================================
  Dependency-free breakpoint mixin
    - http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
/* HERO BACKGROUND ANIMATION  ---------------------------*/
/*================ VIEWPORT HEIGHT HELPERS ================*/
/* THEME */
.bg-lime {
  background-color: #D4F78B;
}

.bg-lavender {
  background-color: #C9A0EE;
}

.bg-red {
  background-color: #F46153;
  color: #D4F78B;
}

.bg-plum {
  background-color: #840C4A;
}

.blur {
  filter: blur(4px);
}

/* FONTS */
@font-face {
  font-family: "Druk Wide";
  src: url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.eot");
  /* IE9*/
  src: url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Lacrima";
  src: url("/fonts/lacrima/LacrimaSerif-Regular.eot");
  /* IE9*/
  src: url("/fonts/lacrima/LacrimaSerif-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lacrima/LacrimaSerif-Regular.woff2") format("woff2"), url("/fonts/lacrima/LacrimaSerif-Regular.woff") format("woff"), url("/fonts/lacrima/LacrimaSerif-Regular.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lacrima";
  src: url("/fonts/lacrima/LacrimaSerif-Bold.eot");
  /* IE9*/
  src: url("/fonts/lacrima/LacrimaSerif-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/lacrima/LacrimaSerif-Bold.woff2") format("woff2"), url("/fonts/lacrima/LacrimaSerif-Bold.woff") format("woff"), url("/fonts/lacrima/LacrimaSerif-Bold.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 700;
}
/* BASE */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #840C4A;
  font-family: "Lacrima", "Times New Roman", serif;
  background-color: #D4F78B;
}

h1 {
  font-family: "Druk Wide", Helvetica, sans-serif;
  text-transform: uppercase;
  color: #F46153;
  margin-bottom: 1rem;
  font-size: 17px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 2000px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-family: "Druk Wide", Helvetica, sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 3.75rem;
}
@media screen and (max-width: 374.9px) {
  h2 {
    font-size: 2.75rem;
  }
}
@media screen and (max-width: 767.9px) {
  h2 {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 7vw;
  }
}
@media screen and (min-width: 2000px) {
  h2 {
    font-size: 8.75rem;
  }
}

p {
  margin-bottom: 1rem;
}

u {
  text-decoration: none;
  position: relative;
}
u:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 100%;
  background-color: transparent;
  border: 1px solid #F46153;
}

.swipe {
  overflow: hidden;
  background-size: 200% 100%;
  background-position: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: background-position 0.2s ease-in-out;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .swipe {
    -webkit-text-fill-color: transparent;
  }
}
.swipe:hover {
  background-position: 0 100%;
}

/* ANIMATIONS  ---------------------------*/
@-webkit-keyframes twist {
  0% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
}
@keyframes twist {
  0% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
}
/* NAV ELEMENTS  ---------------------------*/
.hover,
.default {
  transition: all 0.2s ease-in-out;
}

.default,
.nav-element {
  fill: #D4F78B;
}
.bg-lime .default,
.bg-lime .nav-element {
  fill: #C9A0EE;
}

.h4c-logo {
  height: auto;
  width: 85px;
  top: 5vw;
  left: 5vw;
}
@media screen and (min-width: 768px) {
  .h4c-logo {
    width: 10.9375vw;
    top: 3.125vw;
    left: 3.90625vw;
  }
}
.h4c-logo .default {
  transform: translate(48px, 37px);
}
.h4c-logo .hover {
  transform: translate(-92px, 37px);
}
.h4c-logo:hover .default {
  transform: translate(188px, 37px);
}
.h4c-logo:hover .hover {
  transform: translate(48px, 37px);
}

.btyb-juliet {
  width: 10.9375vw;
  height: auto;
  left: 3.90625vw;
  bottom: 3.125vw;
}
.btyb-juliet .default {
  transform: translate(47.137px, 678.851px);
}
.btyb-juliet .hover {
  transform: translate(-92.86px, 678.851px);
}
.btyb-juliet:hover .default {
  transform: translate(187.137px, 678.851px);
}
.btyb-juliet:hover .hover {
  transform: translate(47.137px, 678.851px);
}

.hamburger-menu {
  height: auto;
  width: 40px;
  top: 5vw;
  right: 5vw;
}
@media screen and (min-width: 768px) {
  .hamburger-menu {
    width: 4.296875vw;
    top: 3.125vw;
    right: 3.90625vw;
  }
}
.hamburger-menu:hover .hover {
  transform: translatex(130px);
}

.icon-close-menu {
  height: auto;
  width: 30px;
  top: 5vw;
  right: 6.5vw;
}
@media screen and (min-width: 768px) {
  .icon-close-menu {
    width: 3.4375vw;
    top: 3.125vw;
    right: 4.4vw;
  }
}
.icon-close-menu polygon {
  fill: #D4F78B;
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.icon-close-menu:hover polygon {
  transform: rotate(90deg);
  fill: #840C4A;
}

.submit-cta {
  color: #D4F78B;
  padding: 0.78125vw 1.015625vw;
  font-size: 1.5625vw;
  font-family: "Druk Wide", Helvetica, sans-serif;
  background-color: #C9A0EE;
  background-image: linear-gradient(to right, #840C4A, #840C4A 50%, #C9A0EE 50%);
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}
.bg-lavender .submit-cta {
  color: #C9A0EE;
  background-image: linear-gradient(to right, #840C4A, #840C4A 50%, #D4F78B 50%);
}

.contact-cta h2, .contact-cta a {
  color: #C9A0EE;
}
.contact-cta h2 {
  font-size: 1.40625vw;
}
.contact-cta a {
  font-size: 1.25vw;
  background-image: linear-gradient(to right, #840C4A, #840C4A 50%, #C9A0EE 50%);
}

.submit-cta,
.contact-cta {
  bottom: 3.125vw;
  right: 3.90625vw;
}

@media screen and (max-width: 767.9px) {
  .submit-cta,
#hero .btyb-juliet,
.card .btyb-juliet {
    display: none;
  }
}

body > .mobile-nav {
  position: fixed;
  z-index: 99;
}
@media screen and (min-width: 768px) {
  body > .mobile-nav {
    z-index: -99;
    height: 0;
    width: 0;
  }
  body > .mobile-nav .nav-element {
    top: -9999px;
  }
}

@media screen and (max-width: 767.9px) {
  .card .nav-element, .slate .nav-element {
    display: none;
  }

  .link-home {
    top: 0;
    left: 0;
    width: 85px;
    height: 35px;
  }

  .link-menu {
    top: 0;
    right: 0;
    width: 40px;
    height: 30px;
  }

  .nav-element,
.default {
    fill: #C9A0EE;
  }
  .page-submission .nav-element,
.page-submission .default {
    fill: #840C4A;
  }

  .link-home .hover, .link-home .default,
.link-menu .hover,
.link-menu .default {
    transition: all 0.1s ease-in-out;
  }
  .link-home.lime,
.link-menu.lime {
    filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.05));
  }
  .link-home.lime .nav-element,
.link-home.lime .default,
.link-menu.lime .nav-element,
.link-menu.lime .default {
    fill: #D4F78B;
  }
  .link-home.lavender .nav-element,
.link-home.lavender .default,
.link-menu.lavender .nav-element,
.link-menu.lavender .default {
    fill: #C9A0EE;
  }
}
#app {
  height: calc(var(--vh, 1vh) * 100) !important;
  max-height: calc(var(--vh, 1vh) * 100) !important;
  transform: translate(0px, 0px) !important;
}

@media screen and (min-width: 768px) {
  .container {
    height: calc(var(--vh, 1vh) * 100);
  }
}

/* SECTIONS  ---------------------------*/
.card,
.slate {
  padding: 16.4vw 8.7vw;
}
@media screen and (min-width: 768px) {
  .card,
.slate {
    padding: 0 4.9vw;
  }
}
@media screen and (min-width: 2000px) {
  .card,
.slate {
    padding: 98px;
  }
}

.slate {
  color: #F46153;
  height: calc(var(--ih, 1vh) * 100);
}
.slate p {
  font-size: 15px;
}
@media screen and (max-width: 767.9px) {
  .slate p {
    margin-top: 6vw;
  }
}
@media screen and (min-width: 768px) {
  .slate p {
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 2000px) {
  .slate p {
    font-size: 1.5625rem;
  }
}
.slate .container {
  height: calc(var(--ih, 1vh) * 100);
}
.slate .heading {
  width: 65vw;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 767.9px) {
  .slate .heading {
    top: 4%;
  }
}
@media screen and (min-width: 768px) {
  .slate .heading {
    width: 45vw;
  }
}
.slate .heading:before, .slate .heading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}
.slate .heading:before {
  z-index: -1;
  width: 80vw;
  height: calc(var(--ih, 1vh) * 70);
  border: 0.875rem solid #C9A0EE;
  transform: translate(-50%, -50%) rotate(-8deg);
  -webkit-animation: 20s ease-in-out 1s infinite twist;
          animation: 20s ease-in-out 1s infinite twist;
}
@media screen and (min-width: 768px) {
  .slate .heading:before {
    width: 54vw;
    height: 32vw;
    max-width: 1080px;
    max-height: 640px;
    border: 1.5625vw solid #C9A0EE;
  }
}
@media screen and (min-width: 2000px) {
  .slate .heading:before {
    border: 31.25px solid #C9A0EE;
  }
}
.slate .heading:after {
  z-index: -2;
  width: 77vw;
  height: calc(var(--ih, 1vh) * 68);
  transform: translate(-50%, -50%);
  border: 0.15vw solid #77DF86;
}
@media screen and (min-width: 768px) {
  .slate .heading:after {
    width: 52.5vw;
    height: 30vw;
    max-width: 1000px;
    max-height: 600px;
  }
}
@media screen and (min-width: 2000px) {
  .slate .heading:after {
    border: 3px solid #77DF86;
  }
}

/*
#hero {
	.background {
		z-index: -2;

		[class*="rect"] {
		    border: 0.15vw solid $slime;
		    @include atMedia($min, $xlDesktop) {
				border: 3px solid $slime;
			}
		}
		.rect1 {
			width: 21.5vw;
		    height: 21.5vw;
		    max-width: 428px;
		    max-height: 428px;
		    top: 18.5%;
		    left: -11.5%;
		    @include spin("rect1", 0deg, 300s, 8s, null);
		}
		.rect2 {
		    width: 32.5vw;
		    height: 32.5vw;
			max-width: 650px;
			max-height: 650px;
		    top: -50.5%;
		    left: 26.5%;
		    transform: rotate(-7deg);
		    @include spin("rect2", -7deg, 200s, 0s, "reverse");
		}
		.rect3 {
			width: 28vw;
   			height: 28vw;
			max-width: 560px;
			max-height: 560px;
			bottom: 18.5%;
			right: -18.5%;
			transform: rotate(15deg);
			@include spin("rect3", 15deg, 175s, 2s, "reverse");
		}
		.rect4 {
			width: 15.5vw;
		    height: 30.5vh;
		    max-width: 310px;
			max-height: 407px;
		    left: 56%;
   			top: 87%;
		    transform: rotate(-32deg);
		    @include spin("rect4", -32deg, 200s, 3s, null);
		}
	}
}
*/
#the-end {
  height: 100vh;
}
#the-end .container a {
  font-family: "Druk Wide", Helvetica, sans-serif;
  font-size: 1.25rem;
  background-image: linear-gradient(to right, #840C4A, #840C4A 50%, #F46153 50%);
}
@media screen and (min-width: 768px) {
  #the-end .container a {
    font-size: 1.8vw;
  }
}
@media screen and (min-width: 2000px) {
  #the-end .container a {
    font-size: 2.25rem;
  }
}
#the-end .heading.pause {
  transform: scale(0.99);
}
#the-end .heading.pause:before {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  filter: blur(2px);
  border-color: #F46153;
}
#the-end .heading.pause:after {
  filter: blur(2px);
}
@media screen and (max-width: 767.9px) {
  #the-end .contact-cta {
    display: none;
  }
  #the-end .btyb-juliet {
    left: 50%;
    transform: translatex(-50%);
    bottom: 5vw;
    width: 80px;
  }
}

.card {
  min-height: 50vh;
}
@media screen and (min-width: 768px) {
  .card {
    height: calc(var(--vh, 1vh) * 100);
  }
}
.card .heading p {
  font-family: "Lacrima", "Times New Roman", serif;
  font-weight: normal;
  text-transform: none;
  margin: 0.5rem 0;
  font-size: 1.5rem;
}
@media screen and (max-width: 374.9px) {
  .card .heading p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .card .heading p {
    font-size: 1.953125vw;
  }
}
@media screen and (min-width: 2000px) {
  .card .heading p {
    font-size: 2.4375rem;
  }
}
@media screen and (min-width: 768px) {
  .card:nth-of-type(2n) {
    transform: translatey(100%);
  }
  .card:nth-of-type(2n+1) {
    left: 50%;
    transform: translatey(-100%);
  }
}

.card--image {
  padding: 0;
}
@media screen and (max-width: 767.9px) {
  .card--image {
    height: 100vh;
  }
  .card--image .image {
    width: 100vw;
  }
  .card--image:nth-child(4n) {
    display: none;
  }
}

.copy p {
  font-size: 1rem;
}
@media screen and (min-width: 1280px) and (max-width: 1999.9px) {
  .copy p {
    font-size: 1.125vw;
  }
}
@media screen and (min-width: 2000px) {
  .copy p {
    font-size: 1.5625rem;
  }
}

.schedule {
  border: 1px solid #840C4A;
  width: 100%;
  margin-top: 3.75vw;
  padding: 4vw 2vw 1.5vw;
}
@media screen and (min-width: 768px) {
  .schedule {
    padding: 4vw 6vw 1.5vw;
  }
}
.schedule table {
  width: 100%;
  font-size: 3.86vw;
}
@media screen and (min-width: 414px) {
  .schedule table {
    font-size: 1rem;
  }
}
.schedule thead {
  text-align: left;
  font-family: "Druk Wide", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2.9vw;
}
@media screen and (min-width: 414px) {
  .schedule thead {
    font-size: 0.75rem;
  }
}
.schedule th {
  padding-bottom: 0.5rem;
}
.schedule .footnote {
  font-size: 12px;
  margin-top: 2.65625vw;
}

/* MENU  ---------------------------*/
#menu {
  z-index: 100;
  background-color: #C9A0EE;
  overflow: hidden;
  transform: translatex(0);
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1), background-color 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}
@media screen and (max-width: 767.9px) {
  #menu {
    height: calc(var(--vh, 1vh) * 100);
  }
}
#menu .container {
  padding: 0 20px;
  height: auto;
}
#menu .container,
#menu .icon-close-menu,
#menu .contact-cta {
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
  position: fixed;
  transform: translatex(0);
}
#menu.closed {
  background-color: #840C4A;
  transform: translatex(100vw);
}
#menu.closed .container,
#menu.closed .icon-close-menu,
#menu.closed .contact-cta {
  transform: translatex(-100vw);
}
#menu a {
  color: #840C4A;
  font-family: "Druk Wide", Helvetica, sans-serif;
  line-height: 1.72;
  background-image: linear-gradient(to right, #D4F78B, #D4F78B 50%, #840C4A 50%);
  font-size: 1.5rem;
}
@media screen and (min-width: 375px) {
  #menu a {
    font-size: 1.6875rem;
  }
}
@media screen and (min-width: 768px) {
  #menu a {
    font-size: 3.359375vw;
  }
}
#menu .contact-cta h2 {
  color: #840C4A;
}
#menu .contact-cta a {
  font-size: 1.25vw;
  line-height: 1.5;
  font-family: "Lacrima", "Times New Roman", serif;
}
@media screen and (max-width: 767.9px) {
  #menu .contact-cta h2, #menu .contact-cta a {
    font-size: 0.875rem;
  }
}
#menu li li a {
  font-family: "Lacrima", "Times New Roman", serif;
  font-size: 1rem;
}
@media screen and (min-width: 375px) {
  #menu li li a {
    font-size: 1.1875rem;
  }
}
@media screen and (min-width: 768px) {
  #menu li li a {
    font-size: 1.953125vw;
  }
}

.collapse {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
.collapse.active {
  max-height: 50vh;
}

/*# sourceMappingURL=app.css.map*/