@charset "UTF-8";
/* TAILWIND IMPORT  ---------------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/* SASS IMPORTS  ---------------------------*/
/* CONFIG */
/*============================================================================
  Dependency-free breakpoint mixin
    - http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
/* HERO BACKGROUND ANIMATION  ---------------------------*/
/* THEME */
.bg-lime {
  background-color: #D4F78B;
}

.bg-lavender {
  background-color: #C9A0EE;
}

.bg-red {
  background-color: #F46153;
  color: #D4F78B;
}

.bg-plum {
  background-color: #840C4A;
}

.blur {
  filter: blur(4px);
}

/* FONTS */
@font-face {
  font-family: "Druk Wide";
  src: url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.eot");
  /* IE9*/
  src: url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("/fonts/druk/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Lacrima";
  src: url("/fonts/lacrima/LacrimaSerif-Regular.eot");
  /* IE9*/
  src: url("/fonts/lacrima/LacrimaSerif-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lacrima/LacrimaSerif-Regular.woff2") format("woff2"), url("/fonts/lacrima/LacrimaSerif-Regular.woff") format("woff"), url("/fonts/lacrima/LacrimaSerif-Regular.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Lacrima";
  src: url("/fonts/lacrima/LacrimaSerif-Bold.eot");
  /* IE9*/
  src: url("/fonts/lacrima/LacrimaSerif-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/lacrima/LacrimaSerif-Bold.woff2") format("woff2"), url("/fonts/lacrima/LacrimaSerif-Bold.woff") format("woff"), url("/fonts/lacrima/LacrimaSerif-Bold.ttf") format("truetype");
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 700;
}
/* BASE */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #840C4A;
  font-family: "Lacrima", "Times New Roman", serif;
  background-color: #D4F78B;
}

h1 {
  font-family: "Druk Wide", Helvetica, sans-serif;
  font-size: 1.8vw;
  text-transform: uppercase;
  color: #F46153;
  margin-bottom: 1rem;
}
@media screen and (min-width: 2000px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  font-family: "Druk Wide", Helvetica, sans-serif;
  font-size: 7vw;
  line-height: 1;
  text-transform: uppercase;
}
@media screen and (min-width: 2000px) {
  h2 {
    font-size: 8.75rem;
  }
}

p {
  margin-bottom: 1rem;
}

u {
  text-decoration: none;
  position: relative;
}
u:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 100%;
  background-color: #F46153;
}

.swipe {
  overflow: hidden;
  background-size: 200% 100%;
  background-position: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.2s ease-in-out;
  text-decoration: none;
}
.swipe:hover {
  background-position: 0 100%;
}

/* ANIMATIONS  ---------------------------*/
@-webkit-keyframes twist {
  0% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
}
@keyframes twist {
  0% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(8deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-8deg);
  }
}
/* NAV ELEMENTS  ---------------------------*/
.hover,
.default {
  transition: all 0.2s ease-in-out;
}

.default,
.nav-element {
  fill: #D4F78B;
}
.bg-lime .default,
.bg-lime .nav-element {
  fill: #C9A0EE;
}

.h4c-logo {
  width: 10.9375vw;
  left: 3.90625vw;
  top: 3.125vw;
}
.h4c-logo:hover .hover {
  transform: translate(48px, 37px);
}
.h4c-logo:hover .default {
  transform: translate(188px, 37px);
}

.btyb-juliet {
  width: 10.9375vw;
  left: 3.90625vw;
  bottom: 3.125vw;
}
.btyb-juliet:hover .hover {
  transform: translate(47.137px, 678.851px);
}
.btyb-juliet:hover .default {
  transform: translate(187.137px, 678.851px);
}

.hamburger-menu {
  width: 4.296875vw;
}
.hamburger-menu:hover .hover {
  transform: translatex(130px);
}

.icon-close-menu {
  width: 3.4375vw;
}
.icon-close-menu polygon {
  fill: #D4F78B;
  transition: all 0.2s ease-in-out;
  transform-origin: 50% 50%;
}
.icon-close-menu:hover polygon {
  transform: rotate(90deg);
  fill: #840C4A;
}

.hamburger-menu,
.icon-close-menu {
  top: 3.125vw;
  right: 3.90625vw;
}

.submit-cta {
  color: #D4F78B;
  padding: 0.78125vw 1.015625vw;
  font-size: 1.5625vw;
  font-family: "Druk Wide", Helvetica, sans-serif;
  background-color: #C9A0EE;
  background-image: linear-gradient(to right, #840C4A, #840C4A 50%, #C9A0EE 50%);
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}
.bg-lavender .submit-cta {
  color: #C9A0EE;
  background-image: linear-gradient(to right, #840C4A, #840C4A 50%, #D4F78B 50%);
}

.contact-cta h2, .contact-cta a {
  color: #C9A0EE;
}
.contact-cta h2 {
  font-size: 1.40625vw;
}
.contact-cta a {
  font-size: 1.25vw;
  background-image: linear-gradient(to right, #840C4A, #840C4A 50%, #C9A0EE 50%);
}

.submit-cta,
.contact-cta {
  bottom: 3.125vw;
  right: 3.90625vw;
}

#app {
  transition: all 0.6s ease-in-out;
}

/* SECTIONS  ---------------------------*/
.card,
.slate {
  padding: 4.9vw;
}
@media screen and (min-width: 2000px) {
  .card,
.slate {
    padding: 98px;
  }
}

.slate {
  color: #F46153;
}
.slate p {
  font-size: 1.25vw;
}
@media screen and (min-width: 2000px) {
  .slate p {
    font-size: 1.5625rem;
  }
}
.slate .heading {
  width: 45vw;
  transition: all 0.3s ease-in-out;
}
.slate .heading:before, .slate .heading:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}
.slate .heading:before {
  width: 54vw;
  height: 32vw;
  max-width: 1080px;
  max-height: 640px;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-8deg);
  border: 1.5625vw solid #C9A0EE;
  -webkit-animation: 20s ease-in-out 1s infinite twist;
          animation: 20s ease-in-out 1s infinite twist;
}
@media screen and (min-width: 2000px) {
  .slate .heading:before {
    border: 31.25px solid #C9A0EE;
  }
}
.slate .heading:after {
  width: 52.5vw;
  height: 30vw;
  max-width: 1000px;
  max-height: 600px;
  z-index: -2;
  transform: translate(-50%, -50%);
  border: 0.15vw solid #77DF86;
}
@media screen and (min-width: 2000px) {
  .slate .heading:after {
    border: 3px solid #77DF86;
  }
}
.slate:last-child .container button {
  font-family: "Druk Wide", Helvetica, sans-serif;
  font-size: 1.8vw;
  background-image: linear-gradient(to right, #840C4A, #840C4A 50%, #F46153 50%);
}
@media screen and (min-width: 2000px) {
  .slate:last-child .container button {
    font-size: 2.25rem;
  }
}
.slate:last-child .container button:hover {
  color: #840C4A;
}
.slate:last-child .heading.pause {
  transform: scale(0.99);
}
.slate:last-child .heading.pause:before {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  filter: blur(2px);
  border-color: #F46153;
}
.slate:last-child .heading.pause:after {
  filter: blur(2px);
}

.card .heading p {
  font-family: "Lacrima", "Times New Roman", serif;
  font-weight: normal;
  text-transform: none;
  margin: 0.5rem 0;
  font-size: 1.953125vw;
}
@media screen and (min-width: 2000px) {
  .card .heading p {
    font-size: 2.4375rem;
  }
}
.card:nth-of-type(2n) {
  transform: translatey(100%);
}
.card:nth-of-type(2n+1) {
  left: 50%;
  transform: translatey(-100%);
}

.card--image {
  padding: 0;
}

.copy p {
  font-size: 1rem;
}
@media screen and (min-width: 1280px) and (max-width: 1999.9px) {
  .copy p {
    font-size: 1.125vw;
  }
}
@media screen and (min-width: 2000px) {
  .copy p {
    font-size: 1.5625rem;
  }
}

/* MENU  ---------------------------*/
#menu {
  z-index: 100;
  background-color: #C9A0EE;
  overflow: hidden;
  transform: translatex(0);
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1), background-color 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}
#menu .container {
  padding: 0 20px;
}
#menu .container,
#menu .icon-close-menu,
#menu .contact-cta {
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
  position: fixed;
  transform: translatex(0);
}
#menu.closed {
  background-color: #840C4A;
  transform: translatex(100vw);
}
#menu.closed .container,
#menu.closed .icon-close-menu,
#menu.closed .contact-cta {
  transform: translatex(-100vw);
}
#menu a {
  color: #840C4A;
  font-family: "Druk Wide", Helvetica, sans-serif;
  font-size: 3.359375vw;
  line-height: 1.72;
  background-image: linear-gradient(to right, #D4F78B, #D4F78B 50%, #840C4A 50%);
}
#menu .contact-cta h2 {
  color: #840C4A;
}
#menu .contact-cta a {
  font-size: 1.25vw;
  line-height: 1.5;
  font-family: "Lacrima", "Times New Roman", serif;
}
#menu li li a {
  font-family: "Lacrima", "Times New Roman", serif;
  font-size: 1.953125vw;
}

.collapse {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}
.collapse.active {
  max-height: 50vh;
}

/*# sourceMappingURL=app.css.map*/