<section id="{{ id }}" class="z-{{ z_index }} card flex bg-{{ bg_left }} w-full md:w-1/2 relative md:absolute overflow-hidden">
			
	<include src="header-left.html"></include>
	
	<div class="container mx-auto text-center self-center">
		<div class="flex md:h-full w-full justify-center">
			<div class="heading self-center relative">
				<h2>{{ heading_1 }}
				<p>{{ sub_heading_1 }}</p>
				{{ heading_2 }}
				<p>{{ sub_heading_2 }}</p>
				</h2>
			</div>
		</div>
	</div>
</section>
<section class="z-{{ z_index }} card flex bg-{{ bg_right }} w-full md:w-1/2 relative md:absolute overflow-hidden">
	
	<include src="header-right.html"></include>

	<div class="container mx-auto text-center self-center">
		<div class="flex md:h-full w-full justify-center">
			<div class="copy self-center">
				<p>{{ content_line_1 }}</p>
				<p>{{ content_line_2 }}</p>
				<p>{{ content_line_3 }}</p>
			</div>
		</div>
	</div>
</section>