<section id="hero" class="z-55 slate flex bg-lime w-full relative md:absolute overflow-hidden">
			
	<include src="header-full.html">
		{
			"version": "1"
		}
	</include>
	
	<div class="container mx-auto text-center self-center">
		<div class="flex h-full w-full justify-center">
			<div class="heading self-center relative">
				<h1 class="m-auto">Welcome to the Homepage of Homepage For Change.</h1>
				<p class="w-11/12 m-auto">We’re on a mission to give BIPOC students a platform for their art – plus a <u>$2,500</u> grant to continue making more.</p>
			</div>
		</div>
	</div>
	<!-- <div class="background absolute w-full h-full top-0 left-0">
		<div class="rect1 absolute"></div>
		<div class="rect2 absolute"></div>
		<div class="rect3 absolute"></div>
		<div class="rect4 absolute"></div>
	</div> -->
</section>