<section id="the-end" class="z-0 slate flex bg-lime w-full relative md:absolute overflow-hidden">
			
	<include src="header-full.html">
		{
			"version": "2"
		}
	</include>

	<div class="container mx-auto text-center self-center">
		<div class="flex h-full w-full justify-center">
			<div class="heading self-center relative">
				<a href="https://gdzv0qa3x8o.typeform.com/to/BRPH7fLk" class="swipe submit uppercase" target="_blank">
					Submit your artwork.
				</a>
			</div>
		</div>
	</div>
</section>