<section id="{{ id }}-1" class="card card--image z-{{ z_index }} w-full md:w-1/2 relative md:absolute overflow-hidden">
	<div class="container">
		<div class="image self-center h-screen">
			<img src="/images/{{ image_1 }}" class="object-cover h-full w-full" />
		</div>
	</div>
</section>
<section id="{{ id }}-2" class="card card--image z-{{ z_index }} w-full md:w-1/2 relative md:absolute overflow-hidden">
	<div class="container">
		<div class="image self-center h-screen">
			<img src="/images/{{ image_2 }}" class="object-cover h-full w-full" />
		</div>
	</div>
</section>