/* BASE */

html,body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	color: $plum;
	font-family: $serif;
	background-color: $lime;
}

h1 {
	font-family: $sans-serif;
	text-transform: uppercase;
	color: $red;
	margin-bottom: 1rem;

	font-size: 17px;
	line-height: 1.2;

	@include atMedia($min, $tablet) {
		font-size: 1.8vw;
	}
	@include atMedia($min, $xlDesktop) {
		font-size: 2.25rem;
	}
}

h2 {
	font-family: $sans-serif;
	line-height: 1;
	text-transform: uppercase;
	font-size: 3.75rem;
	@include atMedia($max, $pre-iphone6) {
		font-size: 2.75rem;
	}
	@include atMedia($max, $pre-tablet) {
		margin-top: 3rem;
	}

	@include atMedia($min, $tablet) {
		font-size: 7vw;
	}
	@include atMedia($min, $xlDesktop) {
		font-size: 8.75rem;
	}
}

p {
	margin-bottom: 1rem;
}

u {
	text-decoration: none;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -0.39vw;
    	height: 0.39vw;
		width: 100%;
		background-color: transparent;
		border: 1px solid $red;
	}
}

.swipe {
	overflow: hidden;
	background-size: 200% 100%;
	background-position: 100%;
	background-clip: text;
	-webkit-background-clip: text;
	@include atMedia($min, $tablet) {
		-webkit-text-fill-color: transparent;
	}
	transition: background-position 0.2s ease-in-out;
	text-decoration: none; // text decorations are clipped in WebKit browsers
	&:hover {
		background-position: 0 100%;
		.bg-lavender & {
			color: $lime;
		}
	}
}
