/* THEME */

// Background colours
.bg-lime { 
	background-color: $lime;
}
.bg-lavender { 
	background-color: $lavender;
}
.bg-red { 
	background-color: $red;
	color: $lime;
}
.bg-plum { 
	background-color: $plum;
}

.blur {
	filter: blur(4px);
}